body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.controls {
    margin: 20px;
}

#dashboard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#dashboard div {
    background: white;
    padding: 20px;
    border-radius: 10px;
}